<p id="notice"><%= notice %></p>

<h1>Listing Pixel Pics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image characters</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pixel_pics.each do |pixel_pic| %>
      <tr>
        <td><%= pixel_pic.name %></td>
        <td><%= pixel_pic.image_characters %></td>
        <td><%= link_to 'Show', pixel_pic %></td>
        <td><%= link_to 'Edit', edit_pixel_pic_path(pixel_pic) %></td>
        <td><%= link_to 'Destroy', pixel_pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pixel pic', new_pixel_pic_path %>
