<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pixel_pic.name %>
</p>

<p>
  <strong>Image characters:</strong>
  <%= @pixel_pic.image_characters %>
</p>

<%= link_to 'Edit', edit_pixel_pic_path(@pixel_pic) %> |
<%= link_to 'Back', pixel_pics_path %>
