<p id="notice" class="alert bg-info"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pixel_pic.name %>
</p>

<p>
  <strong>Image characters:</strong>
  <%= @pixel_pic.image_characters %>
</p>

<%= link_to 'Edit', edit_pixel_pic_path(@pixel_pic), {:class => 'btn btn-primary btn-sm'} %> |
<%= link_to 'Back', pixel_pics_path, {:class => 'btn btn-default btn-sm'} %>
